<%= partial "header" %>

<div class="container">
    <!-- <div class="wrapper-container"> -->
    <div class="wrapper-100 center form-wrap">

        <h2 class="h1">Get in Touch</h2>

        <h3 class="h4">Email me</h3>
        <a href="mailto:barnabyclegg@live.co.uk" class="mail">
            <span class="icon-mail">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="100%" height="100%" viewBox="0 0 485.2 485.2" xml:space="preserve"><path d="M485.2 363.9c0 10.6-3 20.5-7.8 29.2L324.2 221.7l151.5-132.6c5.9 9.4 9.4 20.3 9.4 32.2V363.9zM242.6 252.8l210.9-184.5c-8.7-4.7-18.4-7.6-28.9-7.6H60.7c-10.5 0-20.3 2.9-28.9 7.6L242.6 252.8zM301.4 241.6l-48.8 42.7c-2.9 2.5-6.4 3.7-10 3.7 -3.6 0-7.1-1.2-10-3.7l-48.8-42.7L28.7 415.2c9.3 5.8 20.2 9.3 32 9.3h363.9c11.8 0 22.7-3.5 32-9.3L301.4 241.6zM9.4 89.1C3.6 98.4 0 109.4 0 121.3v242.6c0 10.6 3 20.5 7.8 29.2l153.2-171.4L9.4 89.1z" fill="#000000"/></svg>
        </span>
        BarnabyClegg@live.co.uk
        </a>

        <h3 class="margin-bottom h4">Or send a message using the form below</h3>
        

                            
        <form action="https://getsimpleform.com/messages?form_api_token=2b8e6a7c2bb14b8f352f5e49f7c03fc4" method="post">
          <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
          <input type='hidden' name='redirect_to' value='https://bb-000.github.io/build/thanks.html' />
          <!-- all your input fields here.... -->

       <!--    <div class="row">
              <label for="name"></label>
              <input type='text' name='name' />
          </div>
          <div class="row">
                
              <input type='text' name='test' />
              <input type='submit' value='Test form' />
          </div> -->

          <input type="text" name="name" placeholder="Name / Company" />
          <input type="text" name="email" placeholder="Email" />
          <textarea required name="message" id="msg" cols="30" rows="10" placeholder="Message"></textarea>

          <input type="submit" value="Send" class="btn-go" />

        </form>


        
    </div>
    <!-- </div> -->
</div>


<%= partial "footer" %>