<%= partial "header" %>
<div class="container">
	<div class="wrapper-100 mobile-padding projects">
		<h1>Projects</h1>
		<!-- <div class="wrapper-container project-wrap"> -->
		
		<!-- <div class="wrapper-50"> -->
		<section>
			<h2>Web</h2>

			<section class="project">
				<h3><a href="http://bb-000.github.io/Axolotl-Bass-in-Space/" target="_blank">Axolotl Bass in Space</a></h3>
				<p class="p-sub">
					Browser based generative audio game.
				</p>
				<p>
					Axolotl Bass in Space is an arcade style top down shooter, where the player creates a Psytrance track. The gameplay centres on survival, destroying enemies and collecting assets which results in track composition:
				</p>
				
				<ul class="indent margin-bottom">
					<li>Shooting triggers arpeggiated notes.</li>
					<li>Different weapons have different sounds and timings.</li>
					<li>Some enemies shoot at you in various rhythms.</li>
					<li>Destroyed enemies wait for their cue then trigger a noise.</li>
					<li>Some entities playback sound based on player proximity.</li>
					<li>Power-ups change stats and add various effects to the music.</li>
					<li>Game stats, such as player health, affect the sound.</li>
				</ul>

				<p>
					The game engine is built using pure Javascript and uses the Web Audio API, along with HTML5 and CSS3 for embedding the game and the user interface. Browser-based games allow multi-platform, easily accessible play. 
				</p>

				<p>
					All sound elements must be consistently and accurately synchronised with each other and the graphics. This is done by having a main scheduler function, which is kept in time by combining the less accurate ‘setTimeout’ and ‘requestAnimationFrame’ with the precision of the Web Audio clock. This implementation allows parameters and events to be changed and rescheduled accurately in real time.
				</p>


			</section>
			<!-- </div> -->
			
			<!-- <div class="wrapper-50"> -->
			<section class="project">
				<h3>Motion Sampler</h3>
				<p class="p-info">
					Javascript motion sensitive sampler. Web audio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae molestiae doloribus officia temporibus fuga sit tenetur unde reprehenderit, delectus assumenda. Tempore modi voluptas eius commodi distinctio quam magnam deserunt voluptate.
				</p>
			</section>
		</section>
		<!-- </div> -->
		<!-- </div> -->
		
		
	</div>
	
</div><!-- end container -->

<!--Helper to include scripts in the footer for this page only -->
<% content_for :callScripts do %>
<% end %>
<!--Helper to include JQuery in the footer for this page only.
Note: $(function() already called -->
<% content_for :footerscriptsInline do %>
<% end %>
<%= partial "footer" %>