<%= partial "header" %>
<div class="container">
	<div class="wrapper-100 mobile-padding projects narrow">
		<h1>Projects</h1>

		<section>
			<!-- <h2>Web</h2> -->

			<section class="project">

				<div class="center">
					<h2 class="project-title">
						Axolotl Bass in Space
					</h2>
					<p class="p-sub">
						Browser based generative audio game.
					</p>
					<a class="p-link" href="http://bb-000.github.io/Axolotl-Bass-in-Space/" target="_blank">
						<p>Play here in new tab &rsaquo;</p>
						<img src="assets/images/screenshot-axolotl.jpg" alt="screenshot">
					</a>
				</div>
	
				<p>
					Axolotl Bass in Space is an arcade style top down shooter, where the player creates a Psytrance track. The gameplay centres on survival, destroying enemies and collecting assets which results in track composition:
				</p>

				<ul class="indent margin-bottom">
					<li>Shooting triggers arpeggiated notes.</li>
					<li>Different weapons have different sounds and timings.</li>
					<li>Some enemies shoot at you in various rhythms.</li>
					<li>Destroyed enemies wait for their cue then trigger a noise.</li>
					<li>Some entities playback sound based on player proximity.</li>
					<li>Power-ups change stats and add various effects to the music.</li>
					<li>Game stats, such as player health, affect the sound.</li>
				</ul>

				<p>
					The game engine is built using pure Javascript and uses the Web Audio API, along with HTML5 and CSS3 for embedding the game and the user interface. Browser-based games allow multi-platform, easily accessible play. 
				</p>

				<p>
					All sound elements must be consistently and accurately synchronised with each other and the graphics. This is done by having a main scheduler function, which is kept in time by combining the less accurate ‘setTimeout’ and ‘requestAnimationFrame’ with the precision of the Web Audio clock. This implementation allows parameters and events to be changed and rescheduled accurately in real time.
				</p>


			</section>
			<!-- </div> -->

			<section class="project">

				<div class="center">
					<h2 class="project-title">
						Interactive 3D Model Gallery
					</h2>
					<p class="p-sub">
						Website showing a gallery of 3D models created in 3DS Max / Maya 
					</p>
					<a class="p-link" href="https://bb-000.github.io/3D-Gallery" target="_blank">
						<p>Open here in new tab &rsaquo;</p>
						<img src="assets/images/screenshot-3D.jpg" alt="screenshot">
					</a>
				</div>

				<p>A website built using Bootstrap and custom JS. Uses the canvas and X3DOM to display 3D models which I built using 3D modelling software. Objects can be viewed and moved around with the mouse, and interacted with further by using the buttons at the bottom of the viewbox. These buttons include a function to display different render modes and to animate the object.</p>
			</section>
			
			<!-- <div class="wrapper-50"> -->
			<section class="project">
				
				<div class="center">
					<h2 class="project-title">
						Webcam motion sampler
					</h2>
					<p class="p-sub">
						Motion sensitive interactive audio sampler.</br>Works best in Google Chrome.
					</p>
					<a class="p-link" href="https://bb-000.github.io/WebcamSampler/" target="_blank">
						<p>Open here in new tab &rsaquo;</p>
						<img src="assets/images/screenshot-sampler.jpg" alt="screenshot">
					</a>
				</div>

				<p class="p-info">
					Uses the HTML canvas and webcam input to create a motion sensitive audio sampler. Using javascript and the Wed audio API, I set up the triggers onscreen to play a b when the user touches the virtual images. This is calculated using a blend mode difference  The triggers can be clicked on with the mouse to cycle through a bank of available noises. I also built a tape delay effect with feedback and a filter, which the user can control the parameters of to create fun feedback effects.
				</p>
			</section>
		</section>
		<!-- </div> -->
		<!-- </div> -->
		
		
	</div>
	
</div><!-- end container -->

<!--Helper to include scripts in the footer for this page only -->
<% content_for :callScripts do %>
<% end %>
<!--Helper to include JQuery in the footer for this page only.
Note: $(function() already called -->
<% content_for :footerscriptsInline do %>
<% end %>
<%= partial "footer" %>