<%= partial "header" %>
<div class="wrapper-100 no-margin-bottom center">
  <div class="container">
    <p class="h1">
      Thank you!
      <!--         </br>
      Your message is on the way,<br/>
      I will get back to you as soon as possible -->
    </p>
    
  </div>
  <img src="assets/images/thanks.jpeg" class="full-width" alt="message sent">
  
</div>
<%= partial "footer" %>