<%= partial "header" %>

<div class="container">
    <div class="wrapper-100 center">

        <p class="h1">Thank you! I will get back to you as soon as possible</p>
        




        
    </div>
</div>


<%= partial "footer" %>